vti_encoding:SR|utf8-nl
x-dataconn\:///c\:/documents and settings/julwes/my documents/my webs/christmas/recipes/driver={microsoft access driver (*.mdb)};dbq=url=www/database/christmas2000.mdb:global.asa
images/52side.jpg:editthisrow.asp family.htm links.htm index.htm
images/52home.jpg:family.htm index.htm
images/52email.jpg:family.htm index.htm
images/52div.jpg:family.htm index.htm
http\://www.empiredatatech.com/edtlogo.gif:default.asp
x-dataconn\:///c\:/documents and settings/julwes/my documents/my webs/christmas/exceldb/driver={microsoft excel driver (*.xls)};dbq=url=protected_dir/christmaslist2000.xls:global.asa
http\://home.carolina.rr.com/corart:family.htm index.htm
mailto\:mail@eriksonfamily.org:echristmaslogin.asp
x-dataconn\:///c\:/documents and settings/julwes/my documents/my webs/christmas/sample/driver={microsoft access driver (*.mdb)};dbq=url=fpdb/fpnwind.mdb:global.asa
images/52links.jpg:family.htm index.htm
images/52photos.jpg:family.htm index.htm
mailto\:jerikson@nc.rr.com:christmas2000.htm family.htm index.htm christmas2001.htm password.asp
images/52bull2.gif:family.htm index.htm
x-dataconn\:///c\:/documents and settings/julwes/my documents/my webs/christmas/database1/driver={microsoft access driver (*.mdb)};dbq=url=db/christmas2000.mdb:global.asa
http\://www.edthosting.com:default.asp
x-dataconn\:///c\:/documents and settings/julwes/my documents/my webs/christmas/database2/driver={microsoft access driver (*.mdb)};dbq=url=fpdb/vault.mdb:global.asa
